@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f4f4f4;
}

main {
  @apply my-20 mx-10 md:mx-2;
}

section{
  @apply my-16 md:my-8;
}

li {
  @apply text-xl font-semibold text-gray-600 mb-3;
}

h2 {
  @apply text-3xl font-bold text-gray-600 mb-5 md:text-xl;
}

h3 {
  @apply text-xl font-bold text-gray-600 mb-5 md:text-lg;
}

p {
  @apply text-xl font-semibold text-gray-600 mb-3;
}
/* HAMBURGER MENU */
.toggle-menu-icon {
  height: 50px;
  width: 50px;
  position: relative;
}

.first-bar,
.second-bar,
.third-bar {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #000;
  border-radius: 10px;
  transition: transform 0.2s;
}

.first-bar {
  top: 15px;
}

.second-bar {
  top: 25px;
}

.third-bar{
  top: 35px;
}

.show-first-bar {
  transform: rotate(-45deg);
  top: 1.5rem;
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #000;
  border-radius: 10px;
  transition: transform 0.2s;
}

.show-second-bar {
  width: 0;
}

.show-third-bar {
  transform: rotate(45deg);
  top: 1.5rem;
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #000;
  border-radius: 10px;
  transition: transform 0.2s;
}

.linea-decoracion::after {
  content: '';
  display: block;
  margin-top: 1.5rem;
  height: 0.1rem;
  background-color: #c4c4c4;
}